<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DHTMLX.Gantt" version="6.2.6" targetFramework="net461" />
  <package id="HandyControl" version="2.1.0" targetFramework="net461" />
  <package id="jQuery" version="2.1.1" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks.MaterialDesign" version="4.3.0" targetFramework="net461" />
  <package id="MaterialDesign.dll" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="NPOI" version="2.4.1" targetFramework="net461" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net461" />
  <package id="SharpVectors" version="1.0" targetFramework="net461" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net461" />
  <package id="Syncfusion.Gantt.WPF" version="17.2.0.51" targetFramework="net461" />
  <package id="Syncfusion.Grid.WPF" version="17.2.0.51" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.Wpf" version="17.2.0.51" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.2.0.51" targetFramework="net461" />
  <package id="Syncfusion.Linq.Base" version="17.2.0.51" targetFramework="net461" />
  <package id="Syncfusion.ProjIO.Base" version="17.2.0.51" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="17.2.0.51" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="net461" />
  <package id="Xuni.CollectionView" version="2.3.20171.185" targetFramework="net461" />
  <package id="Xuni.Forms.ChartCore" version="2.3.20171.185" targetFramework="net461" />
  <package id="Xuni.Forms.Core" version="2.3.20171.185" targetFramework="net461" />
  <package id="Xuni.Forms.FlexChart" version="2.3.20171.185" targetFramework="net461" />
</packages>